th {
  background-color: #4CAF50;
  color: white;
}
tr {background-color: #f2f2f2;}
th, td {
  border-bottom: 1px solid #ddd;
}
table, th, td {
  border: 1px solid black;
  color:black;
}
body  {
  background-image: url("tablebackground.jpg");
  color:silver;
}